.tiles article.rose > .image:before {
    background-color: #f2849e;
}

.tiles article.cyan > .image:before {
    background-color: #7ecaf6;
}

.tiles article.vert > .image:before {
    background-color: #7bd0c1;
}

.tiles article.rouge > .image:before {
    background-color: #c75b9b;
}

.tiles article.violet > .image:before {
    background-color: #ae85ca;
}

.tiles article.outremer > .image:before {
    background-color: #8499e7;
}

.tiles article.gris > .image:before {
    background-color: #b3b3b3;
}

.tiles article.jaune > .image:before {
    background-color: #fbd75a;
}

.tiles article.orange > .image:before {
    background-color: #e76910;
}

.tiles article.turquoise > .image:before {
    background-color: #2daa9a;
}

.tiles article.beige > .image:before {
    background-color: #fff5eb;
}

.tiles article.saumon > .image:before {
    background-color: #f4c7ab;
}

.tiles article.ciel > .image:before {
    background-color: #deedf0;
}

.tiles article.kaki > .image:before {
    background-color: #cad0bb;
}
